<% if (!index && theme.reward.enabled == true){ %>
  <div style="padding: 10px 0; margin: 20px auto; width: 90%; text-align: center;">
    <div><%= theme.reward.reward_comment %></div>
    <button id="rewardButton" disable="enable" onclick="var qr = document.getElementById('QR'); if (qr.style.display === 'none') {qr.style.display='block';} else {qr.style.display='none'}">
      <span><%= __('reward.donate') %></span>
    </button>
    <div id="QR" style="display: none;">
  
      <% if (theme.reward.wechatpay) { %>
        <div id="wechat" style="display: inline-block">
          <img id="wechat_qr" src="<%= theme.reward.wechatpay %>" alt="<%= theme.author %> <%= __('reward.wechatpay') %>"/>
          <p><%= __('reward.wechatpay') %></p>
        </div>
      <% } %>
  
      <% if (theme.reward.alipay) {%>
        <div id="alipay" style="display: inline-block">
          <img id="alipay_qr" src="<%= theme.reward.alipay %>" alt="<%= theme.author %> <%= __('reward.alipay') %>"/>
          <p><%= __('reward.alipay') %></p>
        </div>
      <% } %>
  
    </div>
  </div>
  <% } %>
